{% extends layout_template  %}

{% block title %}Delete User: {{ user.displayName }}{% endblock %}

{% block content %}

    <h1>Delete User: {{ user.displayName }}</h1>

    {% if error %}
        <div class="alert alert-danger">{{ error|nl2br }}</div>
    {% endif %}

    <form class="form-horizontal" method="POST">

        <div class="form-group">
            <label class="col-sm-2 control-label" for="input-name">
                Gravatar image<br>
                <a href="http://gravatar.com">Change</a>
            </label>
            <div class="col-sm-8 form-control-static">
                <img src="{{ image_url }}"/>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
                <button type="submit" class="btn btn-danger">Delete</button>
                <a style="margin-left: 10px;" href="{{ path('user.view', {'id': user.id}) }}">Back to profile</a>
            </div>
        </div>

    </form>

{% endblock %}
