{% extends layout_template  %}

{% block title %}Register{% endblock %}

{% block content %}
<script src='https://www.google.com/recaptcha/api.js'></script>
    {% if app.user %}
        <p>Hello, {{ app.user.displayName }}. You are already registered and signed in.</p>
        <p><a href="{{ path('user.logout') }}">Sign out</a></p>

    {% else %}
        <h1>
            Create an account
        </h1>

        <p class="text-muted lead">
            Already have an account? <a href="{{ path('user.login') }}">Sign in now.</a>
        </p>

        {% if error %}
            <div class="alert alert-danger">{{ error|nl2br }}</div>
        {% endif %}

        <form class="form-horizontal" method="POST">

            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-name">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" name="name" type="text" id="input-name" placeholder="Name" value="{{ name }}">
                    <span class="help-inline">Shown publicly</span>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-email">Email</label>
                <div class="col-sm-8">
                    <input class="form-control" name="email" type="email" id="input-email" placeholder="Email" required value="{{ email }}">
                    <span class="help-inline">Never shared</span>
                </div>
            </div>

            {% if isUsernameRequired %}
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-username">Username</label>
                    <div class="col-sm-8">
                        <input class="form-control" name="username" type="text" id="input-username" placeholder="Username" required value="{{ username }}">
                    </div>
                </div>
            {% endif %}

            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-password">Password</label>
                <div class="col-sm-8">
                    <input class="form-control" name="password" type="password" id="input-password" required placeholder="Password">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="input-confirm-password">Re-type password</label>
                <div class="col-sm-8">
                    <input class="form-control" name="confirm_password" type="password" id="input-confirm-password" required placeholder="Confirm password">
                </div>
            </div>

            {% if publicKey == false %}
            <--
            {% endif %}
            <div id="recaptcha_widget">
                <div id="recaptcha_image"></div>
                <div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>

                <span class="recaptcha_only_if_image">Enter the words above:</span>
                <span class="recaptcha_only_if_audio">Enter the numbers you hear:</span>

                <input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />

                <div><a href="javascript:Recaptcha.reload()">Get another CAPTCHA</a></div>
                <div class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')">Get an audio CAPTCHA</a></div>
                <div class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')">Get an image CAPTCHA</a></div>

                <div><a href="javascript:Recaptcha.showhelp()">Help</a></div>
            </div>

            <script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k={{ publicKey }}"></script>
            <noscript>
               <iframe src="http://www.google.com/recaptcha/api/noscript?k={{ publicKey }}" height="300" width="500" frameborder="0"></iframe><br>
               <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
               <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
            </noscript>
            {% if publicKey == false %}
            -->
            {% endif %}
            
            <div class="form-group">
                <div class="col-sm-8 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </div>
        </form>

    {% endif %}
{% endblock %}
